.indexpageTitle
  %h3 
    Find a Flat

- @flats.each do |flat|
  .indexpageflatname
    %h4
      = link_to flat.name, flat

  .IndexPageTable
    %table
      %tr
        %th Bedrooms
        %th Location
      %tr
        %td 
          = flat.rooms
        %td 
          =flat.address

 